@import './plyr.css';
@import './video-js.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2E5797;
}

.aij-theme {
    --color-primary: #FF5733;
}

@layer base {
    h1 {
        @apply text-4xl my-3;
    }
    h2 {
        @apply text-3xl my-3;
    }
    h3 {
        @apply text-2xl my-3;
    }
    h4 {
        @apply text-xl my-3;
    }
    h5 {
        @apply text-lg my-3;
    }
}

body {
    @apply bg-gray-50;
}

@font-face {
    font-family: 'lora';
    src: url('@/assets/fonts/Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lora';
    src: url('@/assets/fonts/Lora-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'lora';
    src: url('@/assets/fonts/Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lora';
    src: url('@/assets/fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('@/assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('@/assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('@/assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('@/assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt serif';
    src: url('@/assets/fonts/PT_Serif-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt serif';
    src: url('@/assets/fonts/PT_Serif-Web-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pt serif';
    src: url('@/assets/fonts/PT_Serif-Web-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'pt serif';
    src: url('@/assets/fonts/PT_Serif-Web-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'pt sans';
    src: url('@/assets/fonts/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt sans';
    src: url('@/assets/fonts/PT_Sans-Web-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pt sans';
    src: url('@/assets/fonts/PT_Sans-Web-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'pt sans';
    src: url('@/assets/fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}